{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
         <h1><a href="/">Art Blog</a></h1>
    </div>

    <center>
       
        <div>
            <h2 class="delta"><a href="">Introduction to Art</a></h2>
            <p>Art is a diverse range of human activities in creating visual, auditory or performing artifacts (artworks), expressing the author's imaginative, conceptual ideas, or technical skill, intended to be appreciated for their beauty or emotional power. In their most general form these activities include the production of works of art, the criticism of art, the study of the history of art, and the aesthetic dissemination of art.

            The three classical branches of art are painting, sculpture and architecture. Music, theatre, film, dance, and other performing arts, as well as literature and other media such as interactive media, are included in a broader definition of the arts. Until the 17th century, art referred to any skill or mastery and was not differentiated from crafts or sciences. In modern usage after the 17th century, where aesthetic considerations are paramount, the fine arts are separated and distinguished from acquired skills in general, such as the decorative or applied arts.

            Though the definition of what constitutes art is disputed and has changed over time, general descriptions mention an idea of imaginative or technical skill stemming from human agency and creation. The nature of art and related concepts, such as creativity and interpretation, are explored in a branch of philosophy known as aesthetics.</p>
        </div>

        <div class="col-sm-6">
            <p>published: 21.01.2019, 12:57</p>
            <h2 class="alpha"><a href="">Fine Arts</a></h2>
            <p>Historically, the five main fine arts were painting, sculpture, architecture, music, and poetry,
            with performing arts including theatre and dance.
            Today, the fine arts commonly include additional forms, such as film, photography, video production/editing, design, sequential art, conceptual art, and printmaking.</p>
             <br>
            <br>
        </div>


        <div class="col-sm-6">
            <p>published: 21.01.2019, 12:57</p>
            <h2 class="alpha"><a href="">Performing Arts</a></h2>
            <p>Performing arts are a form of art in which artists use their voices, bodies or inanimate objects to convey artistic expression.
            It is different from visual arts, which is when artists use paint, canvas or various materials to create physical or static art objects. Performing arts include a range of disciplines which are performed in front of a live audience.
            </p>
        </div>

        <div>
           <h2 class="b col-sm-12">Art Blogs here!!!</h2> 
        </div>

         <div class="content container">
            <div class="row">
                <div class="">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </center>
</body>
</html>