<html>
<head><title>Django demo page</title></head>
<body>
	<h1><center>  Congratulations  </center></h1>
    <p>Hi there!</p>
    <p>It works!</p>
    <center>
        <div>
            <h1><a href="/">Art Blog</a></h1>
        </div>

        <div>
            <p>published: 21.01.2019, 12:57</p>
            <h2><a href="">Fine Arts</a></h2>
            <p>Historically, the five main fine arts were painting, sculpture, architecture, music, and poetry,
            with performing arts including theatre and dance.
            Today, the fine arts commonly include additional forms, such as film, photography, video production/editing, design, sequential art, conceptual art, and printmaking.</p>
        </div>

        <div>
            <p>published: 21.01.2019, 12:57</p>
            <h2><a href="">Performing Arts</a></h2>
            <p>Performing arts are a form of art in which artists use their voices, bodies or inanimate objects to convey artistic expression.
            It is different from visual arts, which is when artists use paint, canvas or various materials to create physical or static art objects. Performing arts include a range of disciplines which are performed in front of a live audience.
			</p>
        </div>

        <div>
        	{% for post in posts %}
        		<div>
        			<p>published: {{ post.published_date }}</p>
        			<h2><a href="">{{ post.title }}</a></h2>
        			<p>{{ post.text|linebreaksbr }}</p>
        		</div>
        		
        	{% endfor %}
        </div>
    </center>

</body>
</html>