h1 a, h2 a {
   color:   #C25100;
    font-family: 'Lobster';
}

body {
    padding: 50px;
}

.alpha a{
	color: #ea0b8d; 
}
.delta a{
	color: #de0000;
}


.b{
	color: #1c9aa2;
}

.col-sm-6{
	padding: 10px;
	height: auto; ;
	width: 50%;
}

.page-header {
    background-color: #638801;  /*#c20300  #DAF7A6  #C25100 #CA78FF */
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-align: center;
    text-decoration: initial;
}

.content {
    margin: 40px;
    text-align: center
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    /*float: right;    */
    text-align: center;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #c20300;
    text-align: center;
    /*float: right;*/
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #10c200;
}